<div class="container">

  <table class="table table-striped table-bordered">
    <tr>
      <th>Voucher Template Name</th>
      <th>Status</th>
      <th>Discount Type</th>
    </tr>

    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.Name %></td>
        <td><%= contact.Status__c %></td>
        <td><%= contact.DiscountType__c %></td>
      </tr>
    <% end %>
  </table>

</div>
